p {
    margin: .06rem 0 0.4rem 0;
    font-weight: 450
}

.content {
    margin-top: 40px;
}

.left-box {
    text-align: center;
    margin-right: 30px;
}

.right-box {
    text-align: center;
}

.card {
    margin-bottom: 20px;
}

.card-header {
    color: white;
    font-size: large;
    font-weight: 700;
}

.card-body {
    padding: .5rem;
    margin-bottom: 0;
}

.picture-card {
    margin: 30px auto 0 auto;

}

#imageContainer {
    margin-top: 30px;
}

#pictureCaption {
    margin: 15px 0 15px 0;
}